
body {
    background: #3C9999;
    margin: 0px;
}

ul {
    padding-left: 2rem;
    list-style-type: none;
}
  
ul li {
    padding-left: 3rem;
    background-image: url(../images/book.png);
    background-position: 0 0;
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    
}

a {
    color: white;
    text-decoration: none;
}

.hidden{
    display: none;
}

h2, h1, h3 {
    text-align: center;
    color: rgb(255, 255, 255);
}

h4 {
    text-align: center;
    color: rgb(33, 35, 41);
}

.showOculto{
    display: none;
}

.form-content{
    background-image: url(../images/lib.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    
}

.form-signin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "email-signin                       email-signin"
        "signin_password                    signin_password"
    ;
}

.form-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "email-login                       email-login                   "
        "login_password                    login_password                "               
        ;
}

.email-signin {
    grid-area: email-signin;
}
.signin_password {
    grid-area: signin_password;
}

.email-login {
    grid-area: email-login;
}
.login_password {
    grid-area: login_password;
}


button a{
    color: white;
    text-decoration: none;
}

.backInicio{
    color: #3C9999;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #BEEE5D;
    border-radius: 1rem;
    padding:1px;
    transition: all 0.9s linear;
    text-transform: capitalize;
}

.libroPorAutor li{
    padding-left: 2rem;
    width: 50%;
}

.divError{
    background-image: url(../images/error-404.jpg);
    min-width: 100%;
    min-height:2000px;
    position:relative;
}


.home{
    background: linear-gradient(#50adad,#80dddd);
}

.title-error{
    font-size: 50px;
    color: black;
    text-anchor: middle;
    font-style: italic;
}

.backInicio:hover{
    color: black;
}


.autores{
    text-align:initial;
    font-weight: bold;
}


#addLibro{
    font-weight: bold;
}


.login{
    font-weight: bold;
}

#email-signin,#signin_password,#email-login,#login_password, .btn-primary{
    border-radius: 2rem;
}


